[submodule "wasmedge-sys"]
	path = wasmedge-sys
	url = https://github.com/apepkuss/wasmedge-sys.git
[submodule "wasmedge"]
	path = wasmedge
	url = https://github.com/apepkuss/wasmedge.git
[submodule "wasmedge-wasi-nn"]
	path = wasmedge-wasi-nn
	url = https://github.com/apepkuss/wasmedge-wasi-nn.git
